<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">TENDENCIA</h2>
                <p>Entérate de lo último en las redes sociales, meme, videos curiosos, farándula, noticias</p>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">COCINA</h2>
                <p>¿Quieres cocinar? En nuestra sección podrás encontrar recetas fáciles para todos, salado o dulce, Tips y consejos para la cocina, como también podrás conocer un poco más sobre los alimentos que consumimos.</p>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">SALUD Y BIENESTAR</h2>
                <p>Una sección dedica al cuidado de nuestro cuerpo y mente, mira nuestros tips para conseguir un equilibrio en tu cuerpo, desde lo que comes hasta como lograr balance en nuestra mente.</p>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">MODA</h2>
                <p>Entérate de las ultimas tendencia en Moda y maquillaje. </p>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">ASTROS</h2>
                <p>¿Te gusta la astrología? Consigue toda la información sobre horóscopo, predicciones y datos interesantes de los signos.</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=com.playtown.appfpd&hl=en"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="https://apps.apple.com/ar/app/somos-fpd/id1140488858?l=en"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
