<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Descargá la mejor APP de fútbol que vas a conocer!</h1>
                        <a href="https://play.google.com/store/apps/details?id=com.playtown.appfpd&hl=en" class="btn btn-outline btn-xl page-scroll"><i class="fa fa-android"></i> Android</a>
                        <a href="https://apps.apple.com/ar/app/somos-fpd/id1140488858?l=en" class="btn btn-outline btn-xl page-scroll"><i class="fa fa-apple" aria-hidden="true"></i> iOS</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
