<nav id="mainNav" class="navbar navbar-default navbar-fixed-top"style="/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fc5296+0,f67062+100 */ background: rgb(252,82,150); /* Old browsers */ background: -moz-linear-gradient(-45deg,  rgba(252,82,150,1) 0%, rgba(246,112,98,1) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(-45deg,  rgba(252,82,150,1) 0%,rgba(246,112,98,1) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(135deg,  rgba(252,82,150,1) 0%,rgba(246,112,98,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5296', endColorstr='#f67062',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Abrir navegación</span> Menú <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">RE!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li>
                  <a class="page-scroll" href="/funds">Help the project</a>
              </li> -->
                <li>
                    <a class="page-scroll" href="#">Descarga iOS</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Descarga Android</a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li> -->
                <!-- <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li> -->
                <!-- <li>
                    <a class="page-scroll" href="#why">Why</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
